<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.courseSchedule.mapper.CourseScheduleMapper">
    
    <resultMap type="CourseSchedule" id="CourseScheduleResult">
        <result property="id"    column="id"    />
        <result property="courseId"    column="course_id"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="classroom"    column="classroom"    />
        <result property="dayOfWeek"    column="day_of_week"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="details"    column="details"    />
    </resultMap>

    <sql id="selectCourseScheduleVo">
        select id, course_id, teacher_id, classroom, day_of_week, start_time, end_time, details from tb_course_schedule
    </sql>

    <select id="selectCourseScheduleList" parameterType="CourseSchedule" resultMap="CourseScheduleResult">
        <include refid="selectCourseScheduleVo"/>
        <where>  
            <if test="courseId != null  and courseId != ''"> and course_id like concat('%', #{courseId}, '%')</if>
            <if test="teacherId != null "> and teacher_id like concat('%', #{teacherId}, '%')</if>
            <if test="classroom != null  and classroom != ''"> and classroom like concat('%', #{classroom}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectCourseScheduleById" parameterType="Long" resultMap="CourseScheduleResult">
        <include refid="selectCourseScheduleVo"/>
        where id = #{id}
    </select>

    <insert id="insertCourseSchedule" parameterType="CourseSchedule" useGeneratedKeys="true" keyProperty="id">
        insert into tb_course_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="classroom != null">classroom,</if>
            <if test="dayOfWeek != null">day_of_week,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="details != null">details,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="classroom != null">#{classroom},</if>
            <if test="dayOfWeek != null">#{dayOfWeek},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="details != null">#{details},</if>
         </trim>
    </insert>

    <update id="updateCourseSchedule" parameterType="CourseSchedule">
        update tb_course_schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="classroom != null">classroom = #{classroom},</if>
            <if test="dayOfWeek != null">day_of_week = #{dayOfWeek},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="details != null">details = #{details},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCourseScheduleById" parameterType="Long">
        delete from tb_course_schedule where id = #{id}
    </delete>

    <delete id="deleteCourseScheduleByIds" parameterType="String">
        delete from tb_course_schedule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>