<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.course.mapper.CourseMapper">
    
    <resultMap type="Course" id="CourseResult">
        <result property="id"    column="id"    />
        <result property="courseName"    column="course_name"    />
        <result property="userId"    column="user_id"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectCourseVo">
        select id, course_name, user_id, description from tb_course
    </sql>

    <select id="selectCourseList" parameterType="Course" resultMap="CourseResult">
        <include refid="selectCourseVo"/>
        <where>  
            <if test="courseName != null  and courseName != ''"> and course_name like concat('%', #{courseName}, '%')</if>
            <if test="userId != null "> and user_id like concat('%', #{userId}, '%')</if>
        </where>
    </select>
    
    <select id="selectCourseById" parameterType="String" resultMap="CourseResult">
        <include refid="selectCourseVo"/>
        where id = #{id}
    </select>

    <insert id="insertCourse" parameterType="Course">
        insert into tb_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="courseName != null and courseName != ''">course_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="description != null and description != ''">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="courseName != null and courseName != ''">#{courseName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="description != null and description != ''">#{description},</if>
         </trim>
    </insert>

    <update id="updateCourse" parameterType="Course">
        update tb_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseName != null and courseName != ''">course_name = #{courseName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="description != null and description != ''">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCourseById" parameterType="String">
        delete from tb_course where id = #{id}
    </delete>

    <delete id="deleteCourseByIds" parameterType="String">
        delete from tb_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>